 <form action="/insert/Invoice" method="POST">
        <label for="invoiceid">Enter InvoiceID:</label>
        <input type="text" id="invoiceid" name="invoiceid">

        <label for="branch">branch:</label>
        <input type="text" id="branch" name="branch">

        <label for="city">city:</label>
        <input type="text" id="city" name="city">

        <label for="custtype">customer type:</label>
        <input type="text" id="custtype" name="custtype">

        <label for="proline">product line:</label>
        <input type="text" id="proline" name="proline">

        <label for="name">name:</label>
        <input type="text" id="name" name="name">

        <label for="image">image:</label>
        <input type="text" id="image" name="image">

         <label for="price">price:</label>
        <input type="text" id="price" name="price">

         <label for="quantity">quantity:</label>
        <input type="text" id="quantity" name="quantity">

         <label for="tax">tax:</label>
        <input type="text" id="tax" name="tax">

         <label for="total">total:</label>
        <input type="text" id="total" name="total">

         <label for="date">date:</label>
        <input type="text" id="date" name="date">

         <label for="time">time:</label>
        <input type="text" id="time" name="time">

         <label for="payment">payment:</label>
        <input type="text" id="payment" name="payment">

         <label for="cogs">cogs:</label>
        <input type="text" id="cogs" name="cogs">

         <label for="grossincome">gross income:</label>
        <input type="text" id="grossincome" name="grossincome">

         <label for="rating">rating:</label>
        <input type="text" id="rating" name="rating">
        <input type="submit" value="submit">
    </form>